@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .writing-vertical-lr {
    writing-mode: vertical-lr;
  }
}

@layer components {
  .navlink {
    @apply relative;
  }

  .navlink::after {
    content: "";
    background: rgba(248, 113, 113, 0.5);
    position: absolute;
    left: 0.75rem;
    bottom: -0.25rem;
    width: calc(100% - 0.75rem);
    height: 0.25rem;
    z-index: -1;
    transition: all 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
  }

  .navlink:hover::after {
    left: -5%;
    bottom: -0.125rem;
    width: 110%;
    height: 110%;
  }
}

@media only screen and (max-width: 768px) {
  .flip-card {
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: all transform 1s;
  }

  .flip-card.flipped {
    transform: translateX(-100%) rotateY(-180deg);
  }

  .flip-card.card-face {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    backface-visibility: hidden;
  }

  .flip-card.card-face.card-back {
    transform: rotateY(180deg);
  }
}