@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @layer responsive {
    .writing-vertical {
      writing-mode: vertical-lr;
    }
  }
}

.text-stroke-1 {
  text-shadow: 0 0 4px #00000075;
}

.navlink::after {
  content: "";
  background: rgba(248, 113, 113, 0.5);
  position: absolute;
  left: 0.75rem;
  bottom: -0.25rem;
  width: calc(100% - 0.75rem);
  height: 0.25rem;
  z-index: -1;
  transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
}

.navlink {
  position: relative !important;
}

.navlink:hover::after {
  left: -5%;
  bottom: -0.125rem;
  width: 110%;
  height: 110%;
}


@keyframes circle {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 0.75rem;
    border-radius: 9999px;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

@keyframes shadow {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }

  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}

@media (max-width: 768px) {
  .flip-card {
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
  }

  .flip-card.flipped {
    transform: translateX(-100%) rotateY(-180deg);
  }

  .flip-card-face {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    backface-visibility: hidden;
  }

  .flip-card-face.flip-card-face-back {
    transform: rotateY(180deg);
  }
}