@import 'tailwindcss';

@theme {
  /* Container */
  --container-center: true;

  /* Rotation */
  --rotate-65: 65deg;

  /* Sizing */
  --max-w-72: 18rem;
  --h-86: 22.5rem;

  /* Font Families */
  --font-karla: var(--font-google-karla), var(--font-sans);
  --font-unica-one: var(--font-google-unica-one), cursive;


  /* Transition Properties */
  --transition-size: transform, height, width;

  /* Colors */
  --color-black-50: #0E0E0E;

  /* Z-Index */
  --z--1: -1;
  --z--10: -10;

  /* Keyframes */
  --keyframes-dim: {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
  }

  ;

  /* Animations */
  --animation-dim: dim 3s ease-in-out infinite;

  /* Font Sizes */
  --text-10xl: 9rem;
  --text-11xl: 10rem;
  --text-12xl: 11rem;
}

@utility writing-vertical-lr {
  writing-mode: vertical-lr;
}

@utility navlink {
  @apply relative;

  &::after {
    content: '';
    background: rgba(248, 113, 113, 0.5);
    position: absolute;
    left: 0.75rem;
    bottom: -0.25rem;
    width: calc(100% - 0.75rem);
    height: 0.25rem;
    z-index: -1;
    transition: all 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
  }

  &:hover::after {
    left: -5%;
    bottom: -0.125rem;
    width: 110%;
    height: 110%;
  }
}

@media only screen and (max-width: 768px) {
  .flip-card {
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: all transform 1s;
  }

  .flip-card.flipped {
    transform: translateX(-100%) rotateY(-180deg);
  }

  .flip-card.card-face {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    backface-visibility: hidden;
  }

  .flip-card.card-face.card-back {
    transform: rotateY(180deg);
  }
}